* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: sans-serif;
    background-color: #0d1117;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    color: #7e868e;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #161b22;
    padding: 5%;
    border-radius: 5px;
    border-color: #7e868e;
    border-style: solid;
}

.logo {
    height: 75px;
    display: block;
}

.accent {
    color: #ff05d1;
}

.album:hover {
    box-shadow: 0 8px 16px 0 #ff05d1;
}

.album {
    box-shadow: 0 4px 8px 0 #ff05d1;
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0500;
    width: 100%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-weight: bold;
}

.nav-links li:hover {
    background-color: #ff05d1;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 3rem;
    display: none;
    width: 50px;
    height: 50px;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
}

.gradient-text {
    background: linear-gradient(45deg, #ff05d1 20%, #fff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
    text-align: left;
}

.feature {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.feature video {
    width: 100%;
    display: block;
}

.feature:before {
    content: '';
    position: absolute;
    background: rgba(250, 27, 202, 0.3);
    background-image: url("media/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

iframe {
    max-width: 90%;
}

.email-comment {
    width: 50%;
    border: 3px solid #ff05d1;
    height: 50px;
    border-radius: 5px;
    color: #000;
    font-size: large;
}

.email-button {
    width: 100px;
    height: 50px;
    border: 3px solid #ff05d1;
    background: #ff05d1;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.social {
    text-decoration: none;
    font-size: 28px;
    color: #7e868e;
    font-weight: bold;
    margin: 10%;
    
}

#youtube:hover {
    border-radius: 5px;
    transition: .3s ease;
    color: #fff;
    background-color: #ff0000;
    padding: 1%;
}

#facebook:hover {
    border-radius: 5px;
    transition: .3s ease;
    color: #fff;
    background-color: #4267B2;
    padding: 1%;
}

#spotify:hover {
    border-radius: 5px;
    transition: .3s ease;
    color: #fff;
    background-color: #1DB954;
    padding: 1%;
}

footer {
    padding-bottom: 50px;
}

@media (max-width: 800px) {

    .menu-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
}
